{% extends "shop/base_.html" %}
{% load static %}
{% block title %}<title>Index</title>{% endblock %}

{% block content %}
<body>

<div class="jumbotron text-center">
    <h1 style="color:gray; font-size:100px">Qiwi_Store</h1>
    <p style="color:gray;">Welcome to our online store!</p>
</div>

<div class="container text-center">
    <h3 style="color:gray;">our branches</h3>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <p><strong style="color:gray;">Name</strong></p><br>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL6IPMEO2OWIkEjIEZh-ZSJCg38HPSQnUB4w&usqp=CAU" alt="Random Name" width="300" height="300">
        </div>
        <div class="col-sm-4">
            <p><strong style="color:gray;">Name</strong></p><br>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdk5K7mIDtBblgEzHAEioa05dIq7-F--P1kIrmWcft16-C-Dx9vVXAz1iGl2s16S-d18E&usqp=CAU" alt="Random Name" width="300" height="300">
        </div>
        <div class="col-sm-4">
            <p><strong style="color:gray;">Name</strong></p><br>
            <img src="https://burobiz-a.akamaihd.net/uploads/images/102021/large_8ad9fc89f5c96f03585014e1322c4bf3.jpg" alt="Random Name" width="300" height="300">
        </div>
    </div>
</div>

{% endblock %}